/**
 * Project Name: Unknown;
 *	Author: Peter Olayinka;
 *  Credit: Softzest...;
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif; /*included*/
	color: #666;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	display: block;
}

/* Using a grid system*/
.col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-33, .col-35, .col-40, .col-45, .col-50, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-100 {
	float: left;
	padding: 0px 10px;
	box-sizing: border-box;
}

.col-5 {
	width: 5%;
}

.col-10 {
	width: 10%
}

.col-15 {
	width: 15%;
}

.col-20 {
	width: 20%;
}

.col-25 {
	width: 25%;
}

.col-30 {
	width: 30%
}

.col-33 {
	width: 33.33%;
}

.col-35 {
	width: 35%
}

.col-40 {
	width: 40%;
}

.col-45 {
	width: 45%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}

.col-65 {
	width: 65%;
}

.col-70 {
	width: 70%;
}

.col-75 {
	width: 75%;
}

.col-80 {
	width: 80%;
}

.col-85 {
	width: 85%;
}

.col-100 {
	width: 100%;
}

/* clearfix declaration*/
* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
			box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.container {
	width: 80%;
	margin: 30px auto;
	background-color: #ededed;
	padding: 2em;
}

a {
	text-decoration: none;
	color: inherit;
}

.mz-main {
	text-align: center;
	text-transform: capitalize;
	padding: 30px 0;
}

.mz-main li {
	font-weight: 700;
	position: relative;
	padding-bottom: 30px;
}

.mz-main li p {
	width: 50%;
	min-height: 70px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #bcbcbc;
}

/*.mz-main li:before {
	position: absolute;
	left: 31%;
	bottom: 30px;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #666;
}
*/
.mz-main li:nth-child(3) p,
.mz-main li:nth-child(4) p {
	border-bottom: none;
}

.mz-partial {
	position: relative;
}

.mz-partial:before {
	position: absolute;
	left: 50%;
	content: "";
	width: 1px;
	display: block;
	height: 100%;
	background-color: #bcbcbc;
}


	
/*
#mz-partial ul {
	border-right: 1px solid #bcbcbc;
	padding: 30px 100px;
	font-weight: 600;
}

#mz-partial ul:last-of-type {
	border-right: none;

}

#mz-partial li {
	text-transform: capitalize;
	text-align: center;
	padding: 50px 0;
	border-bottom: 1px solid #bcbcbc;
}

#mz-partial li:last-of-type {
	border-bottom: none;
}*/

.mz-icon {
	position: relative;
	display: inline-block;
	font-size: 30px;
	padding-bottom: 10px;
}

.mz-icon i {
	display: inline;
}

.mz-icon i:hover {
	color: #009966;
}

.mz-icon-show {
	position: absolute;
	right: -120px;
	top: 0;
	display: none;
	width: 150px;
	text-transform: capitalize;
	background-color: #fff;
	font-size: 15px;
	min-height: 60px;
	padding-top: 25px;
	border: 1px dotted #666;
}

.mz-icon:hover .mz-icon-show {
	display: block;
}

.mz-close {
	background-color: #f60;
	color: #fff;
	position: absolute;
	right: 5%;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

/* --- button ---*/

/*.mz-num {
	width: 600px;
	margin: 50px auto;
}*/

.mz-mp-cp,
.mz-mp-ep,
.mz-mp-np {
	position: relative;
	margin-bottom: 40px;
}

.mz-num-pad {
	width: 170px;
	position: absolute;
	top: 0;
	left: 3%;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;

}

.mz-num-pad button {
	outline: none;
	cursor: pointer;
}

.mz-num-ck { /*ck- check*/
	background-color: #f60;
	border: 1px solid #f60;
	width: 48%;
	margin-bottom: 5px;
}

.mz-num-del {
	padding-bottom: 5px;
}

.mz-num-rs {
	color: #fff;
	padding: 5px 0;
	text-transform: uppercase;
	font-weight: 700;
}

.mz-num-del img {
	margin-top: 3px;
	width: 20px;

}

.mz-num-dt,
.mz-num-zero {
	margin-top: 3px;
	margin-bottom: 3px;
}

.mz-num-dt:nth-of-type(3n + 5) {
	margin-left: 7px;
}

.mz-num-dt:nth-of-type(3n + 0) {
	margin-right: 7px;
}

/*.mz-num-show input {
	padding: 10px 20px;
}*/

/*--- mini partial ---*/

.mz-partial-mini {
	margin: 0 auto;
	position: relative;
	text-transform: capitalize;
}

.mz-partial-mini .mz-mini-sec {
	background-color: #ededed;
	padding: 40px 0;
}

.mz-partial-mini input {
	display: block;
	width: 100%;
	padding: 10px 20px;
	outline: none;
	border: none;
	float: left;
	font-size: 13px;
}

.mz-partial-mini h2 {
	margin-bottom: 50px;
	font-weight: 600;
	text-align: center;
	font-size: 24px;
	padding: 10px 0;
	background-color: #096;
	color: #fff;
}

.mz-partial-mini .mz-top-label {
	margin-bottom: 30px;
}
	
.mz-input-field {
	display: block;
	border: 1px solid #666;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #fff;

}

.mz-input-field label {
	min-height: 35px;
	border-right: 1px solid #666;
	width: 98px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	float: left;
	text-align: center;
	background-color: #096;
	color: #fff;
	padding: 13px;
	font-size: 12px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

}

.mz-sq-form label {
	padding: 7px 0;
	font-size: 12px;
}

.mz-ae-form label {
	padding: 10px 0;
	font-size: 12px;
}

.mz-ae-form .mz-input-field .mz-ae-input {
	width: 200px;
}

.mz-ae-form .mz-input-field input[type=date],
.mz-ae-form .mz-input-field input[type=text],
.mz-ae-form .mz-input-field input[type=number] {
	height: 35px;
}

.mz-ae-form .mz-input-tag {
	float: left;
	display: inline-block;
	width: 100px;
	color: #fff;
	background-color: #960;
	padding: 11px 0;
	font-size: 13px;
	padding-left: 20px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.mz-input-field input {
	width: 300px;
	display: inline-block;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mz-partial-mini form {
	margin: 0 auto;
	width: 400px;
	margin-bottom: 60px;

}


.mz-submit {
	font-size: 20px;
	color: #fff;
	background-color: #096;
	margin-top: 30px;
	cursor: pointer;
	text-transform: capitalize;
}

form p {
	padding-bottom: 10px;
}




/*---------account-------------*/

.mz-left-sidebar,
.mz-ac-h,
.mz-gm-h,
.mz-right-sidebar {
	font-size: 12px;
	text-transform: uppercase;
}

.mz-left-sidebar {
	font-weight: 700;
}

.mz-left-sidebar a,
.mz-right-sidebar li {
	display: block;
	margin-bottom: 5px;
	background: #fff;
	line-height: 15px;
}
.mz-left-sidebar a {
	padding: 10px;
}

.mz-right-sidebar li {
	padding: 5px;
}

.mz-ac-h,
.mz-gm-h {
	margin-right: 2.5%;
	background: #fff;
}

.mz-ac-h {
	margin-left: 2.5%;
}

.mz-ac-h h2,
.mz-gm-h h2 {
	font-size: 2em;
	color: #fff;
	background-color: #009966;
	padding: 12px;
	text-align: center;
}

.mz-ac-nav,
.mz-gm-nav {
	text-align: center;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 12px;
}

.mz-ac-nav li,
.mz-gm-nav li {
	border-right: 1px solid #ccc;
}

.mz-ac-nav .col-33,
.mz-gm-nav .col-20 {
	padding: 0;
}

.mz-ac-nav li:last-of-type,
.mz-gm-nav li:last-of-type {
	border-right: none;
}

.mz-ac-nav,
.mz-gm-nav {
	border-bottom: 1px solid #ccc;
}


.mz-ac-selected,
.mz-ac-nav a:hover,
.mz-left-sidebar a:hover {
	background-color: #969696;
	color: #fff;
}

.mz-ac-nav a {
	display: block;
	padding: 10px 0;
}

.mz-ac-detail,
.mz-gm-detail {
	height: 300px;
	overflow-y: scroll; 
}

.mz-ac-detail li {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.mz-h-date {
	font-size: 11px;
	text-align: right;
}

.mz-h-cash {
	font-size: 14px;
	font-weight: 700;
	color: #f60;
}


.mz-ac-detail li p,
.mz-gm-detail li p {
	padding: 5px 0;
	text-align: center;
	text-transform: capitalize;
}

.mz-right-sidebar li div {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.mz-right-sidebar h4 {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 14px;
}

.mz-right-sidebar p {
	line-height: 15px;
}

.mz-right-sidebar li div:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}


/*-----------game history----------*/

.mz-gm-nav h3 {
	display: block;
	padding: 10px 0;
	vertical-align: middle;
	min-height: 45px;
}

.mz-gm-detail .col-20 {
}

.mz-gm-detail li {
	padding: 0;
	text-align: center;
}

.mz-gm-list li {
	padding: 5px 0;
	border-bottom: 1px solid #edeee0;
	font-size: 12px;
}

.mz-gm-list li:last-of-type {
	border-right: none;
}

.mz-gm-list li,
.mz-gm-nav li,
.mz-ac-list li,
.mz-ac-nav li,
.mz-ac-detail li,
.mz-left-sidebar ,
.mz-right-sidebar h4,
.mz-right-sidebar p {
	overflow: hidden;
}

/*---dashboard---*/

.dashbox {
	height: 500px;
	overflow-y: scroll;
	text-align: center
}

.dashbox .col-20 {
	width: 19.2%;
	margin-right: 0.8%;
	padding: 0;
}

.dashbox h4 {
	font-size: 12px;
}

.dashbox p {
	font-size: 12px;
	text-align: center;
}

.dashbox h3 {
	font-size: 14px;
}

.dashbox h2 {
	font-size: 16px;
}

.dashbox h3,
.dashbox h4,
.dashbox h2 {
	padding: 5px 0;
	font-weight: 700;
	text-transform: uppercase;
}

.dashbox h3,
.dashbox h2 {
	text-align: center;
}

.box1 li,
.box2 li,
.box3 ,
.box4 ul,
.box5 li {
	margin-bottom: 5px;
	padding: 5px;
	background-color: #fff;
}

.mz-box-date p {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 600;
}

.mz-box1-date1 p {
	color: #f60;
}

.mz-box1-date2 {
	background-color: #096;
	margin: 5px auto 5px auto;
	width: 60px;
	color: #fff;
	padding: 10px;
	border-radius: 50%;
}

.mz-start-time p {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;
	margin: 5px 0;
}

.mz-box1-col3 {
	position: relative;
}

.mz-box1-col3 li {
	padding: 0 0 5px 0;
	margin-bottom: 0;
}

.mz-box1-col3 h3 {
	border-bottom: 1px solid #ccc;
}

.mz-col3-bottom {
	margin-top: 5px;
}

.mz-col3-bottom p {
	text-align: left;
}

.mz-box1-larrow {
	position: absolute;
	left: 0;
}

.mz-box1-rarrow {
	position: absolute;
	right: 0;
}
/*
.mz-box1-rarrow a,
.mz-box1-larrow a, {
	font-size: 18px;
}
*/
.mz-box1-rarrow,
.mz-box1-larrow {
	top: 40%;
	font-size: 25px;
	font-weight: 700;
}

/*-- media query ---*/

@media (max-width: 1000px) {
	.mz-num-pad {
		position: static;
		display: block;
		margin: 0 auto;
	}	

	.container {
		padding: .5em;
	}

	.mz-ac .col-25,
	.mz-ac .col-45,
	.mz-gm .col-25,
	.mz-gm .col-70 {
		width: 100%;
	}

	.mz-ac-h, .mz-gm-h {
	    margin-left: 0;
	    margin-right: 0;

	}

	.mz-left-sidebar li {
		display: inline-block;
	}

	.mz-ac-detail,
	.mz-gm-detail {
		height: 200px;
	}

	.mz-left-sidebar a,
	.mz-right-sidebar li {
		display: block;
		margin-bottom: 5px;
		background: #fff;
		line-height: 15px;
	}
	.mz-left-sidebar a {
		padding: 10px;
	}

	/*.mz-gm .mz-left-sidebar {
		display: none;
	}*/

	.mz-left-sidebar li,
	.mz-right-sidebar li {
		float: left;
	}

	.mz-left-sidebar a {
		border-right: 1px solid #ccc;
	}

	.mz-left-sidebar li:last-of-type a {
		border-right: 0;
	}

	.mz-left-sidebar {
		margin-bottom: 5px;
	}
	
	.mz-right-sidebar {
		margin-top: 10px;
	}

	.mz-right-sidebar li {
		width: 23%;
		margin-right: 2.6%;
	}

	.mz-right-sidebar p {
		font-size: 12px;
	}

	.mz-right-sidebar h4 {
		font-size: 14px;
	}

	.mz-right-sidebar li:last-of-type {
		margin-right: 0;
	}
}
@media(max-width: 662px) {

	li.col-50 {
		float: none;
		width: 100%;
		border: none;
	}

	.mz-partial:before {
		display: none;
	}

	.mz-main li:nth-child(3) p {
		border-bottom: 1px solid #bcbcbc;
	}

	.mz-num-pad {
		display: none;

	}


@media(max-width: 620px) {

	.mz-right-sidebar li {
		width: 100%;
		margin-right: 0;
	}

}

@media(max-width: 520px) {

	.mz-partial-mini form {
		width: 90%;
	}

	.mz-input-field input {
		width: 70%;
		display: inline-block;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.mz-input-field label {
		width: 30%;
	}

	.mz-ae-form .mz-input-field .mz-ae-input {
		width: 50%;
	}


	.mz-ae-form .mz-input-tag {
		width: 20%;
	}

	.mz-partial-mini h2 {
		text-align: left;
		padding-left: 20px;
	}
	
}

@media(max-width: 400px) {

	.container {
		width: 100%;
		/*padding: .5em;*/
	}
	
}