<ion-view title="MillionaireZest" id="update">
    <ion-content padding="true" class="has-header">
        <form id="cameraTabDefaultPage-form1" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <label class="item item-select" id="cameraTabDefaultPage-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <label class="item item-input" id="cameraTabDefaultPage-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-toggle toggle-class="toggle-positive" id="cameraTabDefaultPage-toggle1">Toggle</ion-toggle>
            <label class="item item-input" id="cameraTabDefaultPage-textarea1">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
            <button id="cameraTabDefaultPage-button4" class="button button-positive  button-block">Tap me!</button>
        </form>
        <div id="cameraTabDefaultPage-button-bar2" class="button-bar">
            <button id="cameraTabDefaultPage-button5" class="button button-positive  button-block">1</button>
            <button id="cameraTabDefaultPage-button6" class="button button-positive  button-block">2</button>
            <button id="cameraTabDefaultPage-button7" class="button button-positive  button-block">3</button>
        </div>
    </ion-content>
</ion-view>
