<div class="mz-partial-mini">

	<div class="mz-partial-box">

		<div class=" mz-mini-sec" >

			<div class="mz-pc-partial">

				<!-- <span ng-click="settings.mzClosePartial()" class="mz-close"> -->
				<span ng-click="pwdSettings.goSettingHome()" class="mz-close">
					<p>x</p>
				</span>

				<h2>change password</h2>

				<form>
					

					<span class="clearfix mz-input-field">
						<label > old:</label>
						<input type="text" placeholder="Old Password" required > 
					</span>

					<span class="clearfix mz-input-field">
						<label> new:</label>
						<input type="text" placeholder="New Password" required > 
					</span>

					<span class="clearfix mz-input-field">
						<label> confirm:</label>
						<input type="text" placeholder="Confirm Password" required > 
					</span>

					<input class="mz-submit" type="submit" value="update">
				</form>

			</div>
			
		</div>

	</div>

</div>