<ion-view title="Status" id="status">
    <ion-content padding="true" class="has-header modified-list">

      <div class="list">
        <div class="item item-text-wrap">
          <h2>Wallet</h2>
          <p>$ 20,000</p>
        </div>
        <div class="item item-text-wrap">
          <h2>Available</h2>
          <p>$ 10,000</p>
        </div>
      <!-- </div>

      <div class="list inset"> -->
        <div class="item item-text-wrap">
          <h2>Last Earned</h2>
          <p>$ 10,000</p>
        </div><div class="item item-text-wrap">
          <h2>Last Deposited</h2>
          <p>$ 10,000</p>
        </div><div class="item item-text-wrap">
          <h2>Last Withdraw</h2>
          <p>$ 10,000</p>
        </div>
      <!-- </div>
      <div class="list inset"> -->
        <div class="item item-text-wrap">
          <h2>Total Earned</h2>
          <p>$ 10,000</p>
        </div><div class="item item-text-wrap">
          <h2>Total Deposited</h2>
          <p>$ 10,000</p>
        </div><div class="item item-text-wrap">
          <h2>Total Withdraw</h2>
          <p>$ 10,000</p>
        </div>
      <!-- </div>
      <div class="list inset"> -->
        <div class="item item-text-wrap">
          <h2>Paypal</h2>
          <p>peterolayinka97@gmail.com</p>
        </div><div class="item item-text-wrap">
          <h2>Master Card</h2>
          <p>374*************</p>
        </div>
      </div>
    </ion-content>
</ion-view>
