

<div id="main-wrapper">

    <div qp-left-navbar id="left-navbar-wrapper"></div>

    <div id="content-wrapper" class="mdl-color--grey-300">

        <div qp-top-navbar id="top-navbar-wrapper"></div>

        <section class="content-con">

	        <div class="clearfix mz-partial">
				
				<ul class="clearfix mz-main" >

					<li class="col-50 mz-pc">
						
						<div class="mz-icon">
							<a ui-sref="settings.password" ng-click="settings.showPartials()" class="ms-set-mn">
								<i class="fa fa-fw fa-lock fa-5x"></i>
							</a>
							<span class="mz-icon-show">
								please help
							</span>
						</div>
						<div>
							<p>password change</p>
						</div>

					</li>
					
					<li class="col-50 mz-mp">
						
						<div class="mz-icon">
							<a ui-sref="settings.master" ng-click="settings.showPartials()" class="ms-set-mn">
								<i class="fa fa-fw fa-table fa-5x"></i>
							</a>
							<span class="mz-icon-show">
								please help
							</span>
						</div>
						<div>
							<p>master pin</p>
						</div>

					</li>

					<li class="col-50 mz-sq">
						
						<div class="mz-icon">
							<a ui-sref="settings.sq" ng-click="settings.showPartials()" class="ms-set-mn">
								<i class="fa fa-fw fa-question fa-5x"></i>
							</a>
							<span class="mz-icon-show">
								please help
							</span>
						</div>
						<div>
							<p>security question</p>
						</div>

					</li>
					
					<li class="col-50 mz-ae">
						
						<div class="mz-icon">
							<a ui-sref="settings.entry" ng-click="settings.showPartials()" class="ms-set-mn">
								<i class="fa fa-fw fa-refresh fa-5x"></i>
							</a>
							<span class="mz-icon-show">
								please help
							</span>
						</div>
						<div>
							<p>auto entry</p>
						</div>

					</li>

				</ul>

					

			</div>

			<div ui-view class="mz-set-pa" ></div>
		</section>			

        <div class="drawer-wrapper"></div>

    </div>

</div>
