<div class="mz-partial-mini">

	<div class="mz-partial-box">

		<div class=" mz-mini-sec" >

			<div class="mz-mp-partial">

				<div class="clearfix mz-mp-np">
					<span ng-click="masterSettings.goSettingHome()" class="mz-close">
						<p>x</p>
					</span>

					<h2>master pin</h2>

					<p class="mz-mini-info">You have no pin, associated one to continue.</p>

					<div class="clearfix mz-num-pad mzShowPad1">

						<button class="mz-num-ck mz-num-del"  ng-click="masterSettings.backspace(1)">
							<img src="../imgs/back.png">
						</button>
						<button class="mz-num-ck mz-num-rs"  ng-click="masterSettings.reset(1)">
							reset
						</button>
						<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum1(1)">
						1
						</button>
						<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum1(2)">
						2
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(3)">
						3
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(4)">
						4
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(5)">
						5
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(6)">
						6
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(7)">
						7
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(8)">
						8
						</button>
						<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum1(9)">
						9
						</button>
						<button class="col-100 mz-num-zero"  ng-click="masterSettings.getNum1(0)">0</button>
						
					</div>
				
					<div >
				

						<form class="clearfix mz-num-show" >
							
							

							<span class="clearfix mz-input-field">
								<label>pin:</label>
								<input type="number" max="9999" id="mzNumKey11" ng-model="mzNumKey11" placeholder="1234" ng-click="masterSettings.displayBtn()" required >
							</span>
							
							<span class="clearfix mz-input-field">
								<label>confirm pin:</label>
								<input type="number" max="9999" id="mzNumKey12" placeholder="1234" required>
							</span>

							<input class="mz-submit" type="submit" value="Confirm">
						</form>

			
					</div>

				</div>

				<div class="clearfix mz-mp-ep">

					
					<p class="mz-mini-info">Enter Your Pin</p>



					<div >

						<div class="clearfix mz-num-pad mzShowPad2">

							<button class="mz-num-ck mz-num-del"  ng-click="masterSettings.backspace(2)">
								<img src="../imgs/back.png">
							</button>
							<button class="mz-num-ck mz-num-rs"  ng-click="masterSettings.reset(2)">
								reset
							</button>
							<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum2(1)">
							1
							</button>
							<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum2(2)">
							2
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(3)">
							3
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(4)">
							4
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(5)">
							5
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(6)">
							6
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(7)">
							7
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(8)">
							8
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum2(9)">
							9
							</button>
							<button class="col-100 mz-num-zero"  ng-click="masterSettings.getNum2(0)">0</button>
							
						</div>

						<form class="clearfix mz-num-show">
							

							<span class="clearfix mz-input-field">
								<label>pin:</label>
								<input type="number" max="9999" id="mzNumKey21" placeholder="1234" required>
							</span>
																		
							<input class="mz-submit" type="submit" value="Access">
						</form>

						


					</div>

				</div>

				<div class="clearfix mz-mp-cp">

					<p class="mz-mini-info">Enter Your Pin</p>
				
					<div >

						<div class="clearfix mz-num-pad mzShowPad3">

							<button class="mz-num-ck mz-num-del"  ng-click="masterSettings.backspace(4)">
								<img src="../imgs/back.png">
							</button>
							<button class="mz-num-ck mz-num-rs"  ng-click="masterSettings.reset(4)">
								reset
							</button>
							<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum3(1)">
							1
							</button>
							<button class="col-30 mz-num-dt" ng-click="masterSettings.getNum3(2)">
							2
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(3)">
							3
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(4)">
							4
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(5)">
							5
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(6)">
							6
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(7)">
							7
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(8)">
							8
							</button>
							<button class="col-30 mz-num-dt"  ng-click="masterSettings.getNum3(9)">
							9
							</button>
							<button class="col-100 mz-num-zero"  ng-click="masterSettings.getNum3(0)">0</button>
							
						</div>

						<form class="clearfix mz-num-show">
							

							<span class="clearfix mz-input-field">
								<label>pin:</label>
								<input type="number" max="9999" id="mzNumKey31" placeholder="1234" required>
							</span>
							
							<span class="clearfix mz-input-field">
								<label>confirm pin:</label>
								<input type="number" max="9999" id="mzNumKey32" placeholder="1234" required>
							</span>
							
							<input class="mz-submit" type="submit" value="Confirm">
						</form>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>