<ion-view title="Peter olayinka" id="editProfile">
    <ion-content padding="true" class="has-header" ng-controller="addAccountCtrl">
        <!-- <div class="user-profile" style="width:100%; height:auto;background-color:#fff;float:left;">
            <img src="./img/face3.png" style="width:100%;visibility:hidden;">
            <div class="avater" style="position: relative;">
                <img src="img/ionic.png" class="profile-pic">
                <i class="icon ion-wand" style="font-size: 30px;
                        position: absolute;
                        top: 60px;
                        background: #fff;
                        right: 120px;
                        border-radius: 45%;
                        box-shadow: 1px 2px 3px #ccc;
                "></i>
            </div>
        </div>
    	<div class="row">
    		<div class="col col-33 item-center col-energized">
    			<i class="icon ion-wand"></i>
    			verified
    		</div>
    	</div> -->
        <div class="avater" style="position: relative;">
            <div class="profile-pic" style="background-image: url('img/face3.png');">
                <!-- <img src="img/ionic.png" > -->
                <i class="icon ion-edit" style="font-size: 25px;
                        padding: 10px;
                        position: absolute;
                        bottom: 5px;
                        width: 45px;
                        height: 45px;
                        background: #fff;
                        border-radius: 45%;
                        box-shadow: 1px 2px 3px #ccc;
                "></i>
            </div>
        </div>
        <div class="list edit-profile">
        	<div class="item">
        		<h2>Name</h2>
        		<input type="text" value="Peter Olayinka">
        	</div>
        	<div class="item">
        		<h2>Gender </h2>
        		<select>
        			<option>
        				male
        			</option>
        			<option>
        				Female
        			</option>
        		</select> 
        	</div>
        	<div class="item">
        		<h2>Interest In </h2>
        		<input type="text" name="" value="Coding">
        	</div>
        	<div class="item">
        		<h2>Hobby</h2> <input type="text" value="Games">
        	</div>
        	<div class="item">
        		<h2>Mobile</h2>
                <input type="number" value="0701234567">
        	</div>
        	<div class="item">
        		<h2>Email</h2> <input type="email" value="peterolayinka97@gmail.com">
        	</div>
        	<div class="item">
        		<h2>Address</h2> 
                <input type="text"  value="20, olufunmilayo str.">
        	</div>
        	<div class="item">
        		<h2>Country</h2>
                <input type="text" value="Nigeria" >
        	</div>
        	<div class="item">
        		<h2>State</h2>
                <input type="text"  value="Lagos">
        	</div>
        	<div class="item">
        		<h2>City</h2>
                <input type="text" value="Oluyole">
        	</div>
        	<div class="item">
        		<h2>Educational Level</h2>
                <select>
                    <option>
                        undergraduate
                    </option>
                    <option>
                        Bsc.
                    </option>
                    <option>
                        Phd.
                    </option>
                </select> 
        	</div>
        	<div class="item">
        		<h2>Field of Study</h2>
                <input type="text" value="Computer Sci.">
        	</div>
        	<div class="item">
        		<h2>Profession</h2>
                <input type="text" value="Developer">
        	</div>
        	<div class="item">
        		<h2>Current Job</h2>
                <input type="text" value="Software developer">
        	</div>
        	<div class="item">
        		<h2>Income per month</h2>
                <input type="number" value="1000">
        	</div>
        	<div class="item">
        		<h2>Worth</h2>
                <input type="number" value="2000000000">
        	</div>
        </div>
    </ion-content>
</ion-view>
